.item-wrap {
  margin: 4rem;
  width: 400px;
  height: 225px;
  float: left;
  cursor: pointer;
}

.item-wrap:hover {}

.accom-img {
  border-radius: 0.5rem;
  width: 400px;
}

.accom-img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.item-name {
  color: rgb(27, 27, 27);
  font-size: 1.3rem;
}