.checkout-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 1rem 25rem;
}

.backBtn-wrap {
  display: flex;
  align-items: center;
}

.checkout-arrow {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 3rem;
}

.checkout-arrow:hover {
  cursor: pointer;
  color: gray;
}

.checkout-backBtn {
  background-color: transparent;
  border: transparent;
  font-size: 2.2rem;
  font-weight: bold;
}

.yourTrip-wrap {
  border-bottom: 1px solid lightgray;
}

.yourTrip-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0rem;
}

.yourTrip-info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 2rem 0rem;
  align-items: center;
}

.yourTrip-date {
  font-size: 1.1rem;
  font-weight: bold;
}

.yourTrip-data {
  margin-top: 0.2rem;
  font-size: 1rem;
  color: gray;
}

.yourTrip-btn {
  text-align: center;
}

.yourTrip-btn button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.howToPay-title {
  margin: 1.5rem 0rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.howToPay-container {
  border: 1px solid lightgray;
  border-radius: 1rem;
}

.howToPay-wrap {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.second {
  border-top: 1px solid lightgray;
}

.howToPay-text-wrap {
  padding: 1rem;
}

.payBold {
  font-size: 1.2rem;
  font-weight: bold;
}

.payText {
  margin: 0.5rem 0rem;
  color: gray;
}

.howToPayRadio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioInput {
  cursor: pointer;
}

.howToPaySpan {
  margin-right: 0.7rem;
}

.howToPayRadio input {
  width: 1.5rem;
  height: 1.5rem;
}

.payWith-container {
  margin: 2rem 0rem;
  border-top: 1px solid lightgray;
}

.payMethod {
  border: 1px solid lightgray;
  border-radius: 1rem;
}

.payMethod-wrap {
  margin: 0rem 0rem;
  padding: 1rem 1rem;
  border-bottom: 1px solid lightgray;
}

.payMethod-wrap:hover {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #f1f1f1;
}

.paypal:hover {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.payWith-wrap {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  align-items: center;
}

.payWith-text-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bsCreditCard {
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
  color: gray;
}

.google {
  border: 1px solid lightgray;
}

.third {
  border-bottom: none;
  margin: 0rem;
}

.third:hover {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.payWithModal {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  cursor: pointer;
}

.checkout-cancel {
  border-top: 1px solid lightgray;
}

.boldText {
  font-weight: bold;
}

.confirmBtn {
  margin: 2rem 0rem;
  height: 3rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  border: transparent;
  background-color: #ff385c;
  border-radius: 0.5rem;
  cursor: pointer;
}

.confirmBtn:hover {
  background-color: white;
  color: #ff385c;
  border: 1px solid #ff385c;
}
/* CHECKOUT RESUME */

.checkout-resume {
  width: 100%;
  height: 33%;
  padding: 1.5rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  
}

.resume-top {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
}

.resumeImg {
  width: 124px;
  height: 106px;
  background-color: gray;
  border-radius: 1rem;
}

.resumeText {
  margin-left: 1rem;
}

.resumeTitle {
  font-size: 0.8rem;
}

.resumeDescription {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.resumeInfo {
  font-size: 0.8rem;
  color: gray;
}

.resumeScore {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.85rem;
}

.resumeScoreText {
  margin-left: 0.2rem;
  font-weight: bold;
}

.resumePrice {
  margin: 1.5rem 0rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.priceDetails-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 1.5rem 0rem;
}

.priceDetails-text{
  color: gray;
}

.priceDetails-number{
  margin-right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  color: gray;
}

.total{
  color: black;
  font-weight: bold;
}
