.search-item-wrap {
  display: flex;
  cursor: pointer;
  border-top: 1px solid lightgray;
  color: gray;
}

.search-item-img {
  border-radius: 10px;
  margin: 1rem 1rem 1rem 0;
  height: 200px;
}

.search-description-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.hotel-name {
  margin-bottom: 0.5rem;
  color: black;
  margin: 0;
}

.neighbourhood {
  position: relative;
}

.neighbourhood:after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: lightgray;
  position: absolute;
  bottom: 0;
  top: 160%;
}

.address {
  margin-top: 1.5rem;
}

.review-badge {
  background: whitesmoke;
  align-self: flex-start;
  padding: 0 0.3rem;
  margin-right: 0.3rem;
  border-radius: 5px;
}

.search-price {
  align-self: flex-end;
  margin-right: 1rem;
  padding-top: 5rem;
  font-size: 1.1rem;
  color: black;
}

.price {
  font-weight: bold;
}